*{
   margin: 0;
   padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100svh;
  
}

.headder {
  width: 100vw;
  height: 101px;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

}

.h1 {
  font-weight: 800;
  line-height: 78px;
  font-size: 64px;
  letter-spacing: 0.3em;
  text-align: center;
  color: #FD7D54;
  padding-top: 80px

}

.p {
  font-size: 64px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  text-align: center;
  justify-content: center;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100svh - 151px);
  width: 100vw;
}

.child {
  width: 1278px;
  height: 794px;
  color: white;
}

.P {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;

}

.child2 {
  width: 1278px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
}

.child3 {
  width: 293px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 4px solid white;
}

.products2 {
  width: 293px;
  height: 440px;
  top: 462px;
  left: 334px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
}

.circle {
  width: 127px;
  height: 127px;
  top: 46px;
  left: 83px;
  display: flex;
  flex-direction: row-reverse;
  background: #C90A47;
  border-radius: 50%;
  margin-top: 10%;

}

.explore {
  font-size: 19px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0.12em;
  text-align: center;
  color: #41C3F6;
}

.text {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;

}



